body{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-image:url(bg2.jpg) ;
    background-repeat: repeat;
    color:rgb(8, 8, 8);
    cursor: url("cursor.png")16 16, auto;

}

ol {
    list-style-position: inside;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    background-color: white;
    box-shadow: 8px 13px 8px darkblue;
}

.Teams{
    color: rgb(6, 6, 6);
    float: middle;
    font-size: larger;
}

.players{
    float: middle;
    color:black;
}
.img{
    width:200px ;
}

.left{
    float: left;
    color: black;
}

.middle{
    float: middle;
    color: black;
}



.img1{
    width: 500px;
}

.car{
    width: 400px;
}

.car1{
    width: 600px;
}

.ski{
    width:350px
}

.ski1{
    width:400px; 
}

.link{
    font-size: larger;
    color: black;
}