body{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-image:url(bg2.jpg) ;
    background-repeat: repeat;

}


/* .small {
    width: 180px;
    float: left;
    padding: 2px;
    
} */

p{
    font-size: 100;
}

.bigtext{
    font-size: 60px;
}

.img{
    float: right;
    width: 300px;
   
}

.small {
  float: left;
  width: 300px;
  
}

.celly{
    float: middle;
    width: 300px;
    
}


.car{
    float: left;
    width: 300px; ;
}

.car1{
    float: middle;
    width: 250px;
}

.car2{
    float:right;
    width: 300px;
}

.ski{
    float: right;
    width:400px
}

.ski1{
    float: right;
    width:400px
}

.ski2{
    float: right;
    width:400px
}





