body{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-image:url(bg2.jpg) ;
    background-repeat: repeat;
    color:rgb(8, 8, 8);

}

ol {
    list-style-position: inside;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
}

.Teams{
    color: rgb(6, 6, 6);
    float: middle;
    font-size: larger;
    font-weight: bold;
}

.players{
    float: middle;
    color:black;
}
.img{
    width:200px ;
}

.left{
    float: left;
    color: black;
}

.middle{
    float: middle;
    color: black;
}



.img1{
    width: 500px;
}